# Análisis EDA y Decisiones de Negocio en Ventas de Automóviles

Este notebook contiene 15 ejercicios que combinan análisis exploratorio de datos (EDA) y reflexiones críticas de negocio. Cada punto incluye instrucciones detalladas, paso a paso, para realizar agrupaciones y filtros, de modo que se guíe al estudiante en cada parte del proceso.

La estructura del dataset es la siguiente:

```
year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, saledate
```

¡Comienza el análisis y sigue cada paso para proponer estrategias de negocio basadas en los resultados!

In [3]:
# Descargar y descomprimir el dataset
!wget https://github.com/javierherrera1996/lecture_analytics/raw/main/cars_dataset.zip
!unzip -o cars_dataset.zip

--2025-03-13 20:09:05--  https://github.com/javierherrera1996/lecture_analytics/raw/main/cars_dataset.zip
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/javierherrera1996/lecture_analytics/main/cars_dataset.zip [following]
--2025-03-13 20:09:05--  https://raw.githubusercontent.com/javierherrera1996/lecture_analytics/main/cars_dataset.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19753181 (19M) [application/zip]
Saving to: ‘cars_dataset.zip.1’

cars_dataset.zip.1  100%[===================>]  18.84M  --.-KB/s    in 0.1s

2025-03-13 20:09:05 (132 MB/s) - ‘cars_dataset.zip.1’ saved [19753181/19753181]

Archive:  cars_dataset.zip
  inflating: car_prices.csv

## 1. Dimensiones y Representatividad del Dataset

a) Carga el dataset (desde un archivo CSV) y muestra sus dimensiones (número de filas y columnas).

b) Describe brevemente qué representa cada fila y reflexiona: ¿Crees que el dataset es representativo del mercado de ventas de automóviles? Justifica tu respuesta.

In [5]:
import pandas as pd
data = pd.read_csv('car_prices.csv')

data.shape

(558837, 16)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

Cada fila representa atributos y caracteristicas de carros como lo son el año en el que se fabricaron, la marca, el modelo, la condicion, el kilometraje, entre otros. Si considero que el dataset es representativo para el mercado de ventas de carros ya que contiene informacion relevante y que es importante cuando se quiere analizar a un carro y los componentes que vienen de la mano con este, ademas de ser de suma importancia para una empresa que vende y comercializa carros.

## 2. Ventas Totales y Promedio

a) Calcula la suma total y el promedio de la columna `sellingprice`.

b) Caso de negocio: Si el precio promedio es bajo, ¿qué estrategias de precio o promociones sugerirías para aumentar la rentabilidad? Explica tu respuesta.

In [12]:
data["sellingprice"].sum()

7606367587.0

In [13]:
data["sellingprice"].mean()

13611.358810003132

La empresa podria implementar promociones como ofrecer tasas de intereses bajas por un tiempo limitado o crear programas de lealtad para que los clientes que compren varios vehiculos puedan tener descuentos en sus proximos carros que compren alli. Por otro lado se pueden incluir en los precios del carro pequeños obsquios como tapetes para el carro, ambientadores, llantas o seguros y garantias extendidas

## 3. Distribución de Ventas por Marca

a) Utiliza `value_counts()` para determinar cuántas ventas se registraron por cada marca (`make`).

b) Caso de negocio: ¿Qué marcas parecen dominar el mercado? Basado en esta distribución, ¿en qué marcas invertirías en publicidad y por qué?

In [10]:
data["make"].value_counts()

make
Ford          93554
Chevrolet     60197
Nissan        53946
Toyota        39871
Dodge         30710
              ...
airstream         1
ford tk           1
chev truck        1
hyundai tk        1
Lotus             1
Name: count, Length: 96, dtype: int64

Las marcas que dominan el mercado son Ford, Chevrolet y Nissan. Basado en la distribucion le invertiria publicidad a Ford para fortalecer su posicion en el mercado y debido a su dominio en este la publicidad llegaria y seria percibida por muchas personas. De igual manera invertiria en Chevrolet y en Nissan con el objetivo de resaltar sus atributos caracteristicos que pueden diferenciarlos de Ford y ayudarlos a adquirir mas ventas.

## 4. Segmentación de Clientes por Kilometraje

a) Crea un DataFrame filtrado que incluya únicamente las ventas donde el `odometer` es menor a 20,000 millas. Cuantos Vehiculos tiene este dataset?

b) Caso de negocio: Este segmento de vehículos con bajo uso puede tener mayor valor percibido. ¿Cómo ajustarías la estrategia de marketing para este grupo?

In [22]:
ventas= data[data["odometer"] < 20000]
ventas

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558812,2012,Nissan,Maxima,3.5 SV,sedan,NaN,1n4aa5ap7cc840019,pa,42.0,9861.0,brown,tan,nissan-infiniti lt,18650.0,19700.0,Tue Jul 07 2015 07:30:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,1c4rjebg4ec573100,ca,44.0,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800.0,17300.0,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [23]:
ventas.shape

(84206, 16)

Redirigiria esta estrategia de ventas de vehiculos que tienen bajo kilometraje, hacia un grupo de personas que buscan un carro en buena condicion a un precio mas bajo y con un historial mecanico positivo. Ademas de generar confianza mediante la tranparencia al momento de la venta, expresando sus beneficios y caracteristicas.

## 5. Agrupación por Marca: Precio y Volumen

a) Agrupa el dataset por `make` y calcula:
   - El promedio de `sellingprice`.
   - La cantidad de ventas por marca (usa el conteo de registros como proxy).

b) Caso de negocio: Si una marca tiene alto volumen pero precios bajos, ¿qué medidas recomendarías para mejorar el margen?

**Paso a paso:**
1. Realiza la agrupación.
2. Renombra las columnas para que sean claras.
3. Interpreta el resultado antes de pasar al siguiente filtro o análisis.

In [27]:
data.groupby("make").agg({"sellingprice": "mean", "make": "count"}).rename(columns={"sellingprice": "precio_promedio", "make": "cantidad_ventas"})

              precio_promedio  cantidad_ventas
make
Acura            14017.268260             5901
Aston Martin     54812.000000               25
Audi             19915.432782             5869
BMW              21441.895748            20719
Bentley          74367.672414              116
...                       ...              ...
subaru            3710.416667               60
suzuki            4810.000000                5
toyota            7339.105263               95
volkswagen        6145.833333               24
vw               13672.916667               24

[96 rows x 2 columns]

Si una marca tiene alto volumen pero precios bajos, como en la situacion de la marca Acura, recomendaria que revisaran los costos de produccion ya que aunque estan vendiendo muchos carros , no estan generando rentabilidad. Tambien recomendaria implementar una estrategia de introducir a su empresa una linea de carros de una gama mas alta para que los clientes sigan comprando carros en su marca de confianza pero con productos mas caros y elegantes.

## 6. Análisis de Rentabilidad por Marca

a) Crea una nueva columna `profit` que sea la diferencia entre `mmr` y `sellingprice`.
b) Agrupa por `make` y calcula el beneficio promedio para cada marca.

c) Caso de negocio: Identifica las 5 marcas con mayor beneficio promedio y explica qué acciones estratégicas implementarías (por ejemplo, renegociar precios o invertir en calidad).

In [31]:
data["profit"] = data["mmr"] - data["sellingprice"]
data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,profit
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),-1000.0
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),-700.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST),1900.0
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),-250.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST),-1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT),2300.0
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT),-600.0
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT),-4200.0
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT),4000.0
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT),2900.0

In [34]:
data.groupby("make")["profit"].mean().sort_values(ascending=False)

make
Fisker           2638.888889
Ferrari          2000.000000
Plymouth         1577.500000
Bentley          1560.775862
porsche          1419.736842
                    ...
Lotus            -500.000000
mazda tk        -1125.000000
Lamborghini     -1125.000000
Aston Martin    -1252.000000
airstream      -41500.000000
Name: profit, Length: 96, dtype: float64

Las 5 marcas con mayor beneficio promedio son Fisker, Ferrari, Plymouth, Bentley y Porsche e implementaria estrategias de precio, ya que como estas marcas se consideran premium se podrian manejar precios mas elevados para sus carros mas lujosos; asi como invertir un porcentaje de estas ganancias en desarrollo para mejorar sus vehiculos o hacia investigaciones para crear nuevos modelos

## 7. Análisis Temporal: Ventas del Año 2015

a) Filtra el dataset para obtener únicamente las ventas del año 2015 y muestra las primeras 10 filas. Cuantos Vehiculos tiene esta dataset


b) Caso de negocio: Si 2015 muestra comportamientos atípicos en comparación con otros años, ¿deberías ajustar la estrategia basándote en tendencias actuales? Explica tu criterio.

In [35]:
data2015 = data[data["year"] == 2015]
data2015.head(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,profit
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),-1000.0
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),-700.0
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),-250.0
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST),4450.0
11,2015,Kia,Optima,LX,Sedan,automatic,5xxgm4a73fg353538,ca,48.0,2034.0,red,tan,kia motors finance,15150.0,17700.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST),-2550.0
12,2015,Ford,Fusion,SE,Sedan,automatic,3fa6p0hdxfr145753,ca,2.0,5559.0,white,beige,enterprise vehicle exchange / tra / rental / t...,15350.0,12000.0,Tue Jan 13 2015 12:00:00 GMT-0800 (PST),3350.0
13,2015,Kia,Sorento,LX,SUV,automatic,5xyktca66fg561407,ca,5.0,14634.0,silver,black,kia motors america inc,20600.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),-900.0
15,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap5fc124223,ca,2.0,11398.0,black,black,enterprise vehicle exchange / tra / rental / t...,14750.0,14100.0,Tue Dec 23 2014 12:00:00 GMT-0800 (PST),650.0
16,2015,Hyundai,Sonata,SE,Sedan,automatic,5npe24af4fh001562,ca,NaN,8311.0,red,—,avis tra,15200.0,4200.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST),11000.0
20,2015,Chevrolet,Impala,LTZ,Sedan,automatic,2g1165s30f9103921,ca,19.0,14538.0,silver,black,enterprise vehicle exchange / tra / rental / t...,24300.0,7200.0,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT),17100.0

In [37]:
data2015.shape

(9437, 17)

Si debido a que las tendencias actuales son las que determinan el comportamiento de compra de un cliente, pues esto es lo que los clientes quieren, necesitan o desean comprar actualmente y regirse basado en el comportamiento del 2015 puede llevar a errores y a pérdidas en la inversion pues esta informacion ya no nos brinda oportunidades actuales.

## 8. Comparación por Tipo de Carrocería

a) Agrupa por la columna `body` y calcula el promedio de `sellingprice` para cada tipo.

b) Caso de negocio: Determina qué tipo de carrocería tiene mayor precio promedio y argumenta cómo podrías aprovechar esta información para posicionar una línea premium o ajustar el inventario.

In [38]:
data.groupby("body")["sellingprice"].mean().sort_values(ascending=False)

body
granturismo convertible    79041.666667
GranTurismo Convertible    74000.000000
CTS-V Wagon                50500.000000
cts-v coupe                39707.142857
CTS-V Coupe                38425.750000
                               ...
Xtracab                     5818.750000
xtracab                     5250.000000
Club Cab                    4650.064103
Cab Plus                    2825.000000
Ram Van                     1200.000000
Name: sellingprice, Length: 87, dtype: float64

El tipo de carrocería que tiene mayor precio promedio es el gran turismo convetible, esta informacion se puede usar para segmentar el tipo de cliente que esta dispuesto a pagar precios premium por ciertos tipos de vehículos.
Tambien sirve para tener un enfoque al momento de crear estrategias de marketing en este caso alrededor de productos de gama luxury, de marcas premium y enfocados hacia la vanguardia, la tecnologia y el estilo de vida.

## 9. Filtros Combinados para un Caso Específico

a) **Paso 1:** Agrupa los datos por `state`, `model` y calcula el promedio de `sellingprice` para ver cuál es el precio promedio por combinación.

b) **Paso 2:** Utiliza el resultado del agrupamiento para filtrar el dataset original. Por ejemplo, filtra los registros de un estado ('ca') y un modelo ('Sorento') cuyo `sellingprice` supere el precio promedio calculado.

c) Caso de negocio: Analiza este segmento y plantea qué acciones implementarías para potenciar las ventas en California, considerando el modelo y el segmento premium.

In [41]:
data.groupby(["state", "model"])["sellingprice"].mean().sort_values(ascending=False)

state  model
fl     458 Italia    183000.000000
       i8            162000.000000
       Ghost         160333.333333
       SLS AMG GT    156500.000000
ca     i8            154250.000000
                         ...
mi     G20              200.000000
pr     Sable            150.000000
ca     Paseo            150.000000
hi     Freestar         100.000000
       Montana          100.000000
Name: sellingprice, Length: 16144, dtype: float64

In [44]:
data[(data["state"] == "fl") & (data["model"] == "i8") & (data["sellingprice"] > 162000.000000)]

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,profit
283534,2014,BMW,i8,Base,Coupe,automatic,wby2z2c57evx64261,fl,5.0,154.0,white,beige,american bank auto liquidators,170000.0,165000.0,Tue Feb 10 2015 04:00:00 GMT-0800 (PST),5000.0

Para potenciar las ventas en florida, considerando que el modelo i8 se vende en promedio por 162000.000000 seria implementar estrategias de publicidad enfocando la promesa de valor del carro bmw i8 que es la velocidad, el lujo y la elegancia; esto para incitar a los clientes a comprar este carro y a hacer parte de la marca BMW. Asi como hacer parte de ferias automoviles o eventos que hagan que las personas se interesen y quieran adquirir el vehiculo con todas sus ventajas

## 10. Ventas Totales por Estado

a) Agrupa por `state` y calcula la suma de `sellingprice` para cada estado.

b) Caso de negocio: Identifica el estado con mayores ventas totales y discute cómo enfocar campañas de marketing o ampliar la red de distribución en ese estado.

In [40]:
data.groupby("state")["sellingprice"].sum().sort_values(ascending=False)

state
fl                   1.151065e+09
ca                   1.061078e+09
pa                   8.612346e+08
tx                   6.064954e+08
ga                   4.489274e+08
                         ...
3vwd17aj2fm258506    1.330000e+04
3vwd17aj4fm201708    1.320000e+04
3vwd17aj3fm276741    1.320000e+04
3vwd17aj5fm225953    1.320000e+04
3vwd17aj8fm239622    1.320000e+04
Name: sellingprice, Length: 64, dtype: float64

Dado que Florida es el estado con mayores ventas, es importante fortalecer la posición en este mercado mediante la segmentacion de clientes mediante grupos demográficos, estilos de vida y preferencias, y llegar a estos clientes mediante marketing innovador como videos y fotos atrapadoras. Finalmente ampliar la red de concesionarios en ciudades en desarrollo y potencial con muchos habitantes

## 11. Rentabilidad por Estado

a) Agrupa por `state` y calcula el promedio de eficiencia operativa. Como no contamos con 'Operating Margin', usa como proxy `profit/sellingprice`.

b) Caso de negocio: Identifica el estado con mayor eficiencia operativa y sugiere estrategias para replicar ese éxito en otros mercados.

In [48]:
data['operatingmargin'] = data['profit'] / data['sellingprice']

In [49]:
data.groupby("state")["operatingmargin"].mean().sort_values(ascending=False)

state
nm                   1.178797
tx                   0.565770
hi                   0.429630
ny                   0.320112
md                   0.292650
                       ...
3vwd17aj7fm326640         NaN
3vwd17aj8fm239622         NaN
3vwd17aj8fm298895         NaN
3vwd17aj9fm219766         NaN
3vwd17ajxfm315938         NaN
Name: operatingmargin, Length: 64, dtype: float64

el estado con mayor eficiencia operativa es nuevo mexico y para poder replicar este exito en otros estados el primer paso seria identificar costos innecesarios que los otros estados esten haciendo y buscar como optimizarlos, se debe invertir una parte de las ganancias en sistemas de automatizacion y tecnologia para ser as eficientes y por ultimo capacitar al personal en cuanto a tratar al cliente y estrategias de venta, asi como monitorear su desempeño y establecer metas.

## 12. Análisis por Tipo de Transmisión (en lugar de Sales Method)

a) Agrupa el dataset por `transmission` y calcula:
   - La suma de `sellingprice` para cada tipo.
   - El promedio de `sellingprice` para cada tipo.

b) Caso de negocio: ¿Qué tipo de transmisión (automática vs. manual) genera mayores ingresos y qué implicaciones tiene para la estrategia comercial?

In [56]:
data.groupby("transmission").agg({"sellingprice": ["sum", "mean"]}).sort_values(("sellingprice", "sum"), ascending=False)

              sellingprice
                       sum          mean
transmission
automatic     6.443934e+09  13540.406866
manual        1.966936e+08  11211.448358
sedan         2.047500e+05  13650.000000
Sedan         1.505500e+05  13686.363636

El tipo de transmisión automática es la que genera mayores ingresos. Las implicaciones a nivel comercial que tiene esto son el mantener a todo momento un inventario alto de carros de transmision para la demanda alta de estas, asignar una mayor produccion hacia autos automaticos y mantener precios altos hacia estos productos ya que la necesidad de estos es alta y son autos premium.

## 13. Segmentación por Producto Líder

a) Identifica el producto (utiliza la columna `model` como proxy) con mayor cantidad de unidades vendidas. Agrupa por `model` y usa el conteo de registros.

b) Caso de negocio: Si un producto lidera en ventas, ¿cómo ajustarías el inventario y las promociones para maximizar las ganancias?

In [64]:
data.groupby("model")["model"].count().sort_values(ascending=False)

model
Altima     19349
F-150      14479
Fusion     12946
Camry      12545
Escape     11861
           ...
Paseo          1
Q3             1
Ram Van        1
Regency        1
1              1
Name: model, Length: 973, dtype: int64

Aumentar significativamente el inventario de este producto, en este caso de Altima, si la demanda es muy alta se pueden aumentar los precios para aumentar ganancias, crear problemas de lealtad para mantener a estos clientes fieles felices y que sigan escogiendo esta marca y considerar la posibilidad de aumentar la variedad de modelos de este carro

## 14. Comparación Crítica entre Retailers

a) Compara dos retailers usando la columna `seller` en cuanto a volumen de ventas y margen de beneficio (usa `profit` como proxy).

b) Caso de negocio: Si un retailer muestra mayores unidades vendidas pero un margen inferior, ¿qué estrategia recomendarías (por ejemplo, optimización de costos, cambio en política de descuentos, etc.)? Justifica tu propuesta.

**Paso a paso:**
1. Agrupa por `seller` y calcula la suma de `sellingprice` y el promedio de `profit`.
2. Ordena los resultados para identificar los líderes en volumen y analiza el margen.
3. Propón una estrategia basada en los resultados.

In [65]:
data.groupby("seller").agg({"sellingprice": "sum", "profit": "mean"}).sort_values("sellingprice", ascending=False)

                                  sellingprice       profit
seller
ford motor credit company llc      340960125.0   216.393122
nissan-infiniti lt                 272104560.0   -70.225969
the hertz corporation              250863168.0   189.344063
nissan infiniti lt                 216158321.0    92.654989
avis corporation                   203432330.0   -20.590510
...                                        ...          ...
bell auto sales                          200.0   250.000000
alberta truck & auto liquidators         200.0   150.000000
beaverton honda                          200.0  1100.000000
bcaa/company cars                        200.0   600.000000
kfl llc                                    0.0          NaN

[14263 rows x 2 columns]

Como primer paso identificaria áreas donde se pueden reducir costos sin comprometer la calidad, y a su vez se puede hablar con proveedores para renegociar los precios y asi optimizar aun mas los costos. Implementar descuentos estrategicos en base a productos especificos y traer a la venta productos o carros diferentes a los de la competencia

## 15. Caso Integrador: Estrategia Comercial Global

a) **Paso 1:** Identifica cada criterio basado en los análisis anteriores:
   - **Retailer con mayores ventas totales:** Usa la columna `seller` del resumen de retailers.
   - **Estado con mayores ventas totales:** Del agrupamiento por `state`.
   - **Producto con mayor unidades vendidas:** Usa la columna `model`.
   - **Tipo de transmisión con mayores ventas totales:** Agrupa por `transmission`.

b) **Paso 2:** Filtra el dataset original usando cada uno de estos criterios, uno a uno, y luego combínalos en un filtro final.

c) Con base en el análisis combinado, redacta un breve informe (3-4 líneas) proponiendo una estrategia comercial integral para maximizar la rentabilidad, considerando inversión en canales, promociones específicas y optimización de inventario.

d) Caso de negocio: Utiliza la integración de estos criterios para definir en qué segmento enfocar la estrategia global.

In [94]:
retailermayor= data.groupby("seller")["sellingprice"].sum().sort_values(ascending=False)
retailermayor

seller
ford motor credit company llc       340960125.0
nissan-infiniti lt                  272104560.0
the hertz corporation               250863168.0
nissan infiniti lt                  216158321.0
avis corporation                    203432330.0
                                       ...
bell auto sales                           200.0
alberta truck & auto liquidators          200.0
beaverton honda                           200.0
bcaa/company cars                         200.0
kfl llc                                     0.0
Name: sellingprice, Length: 14263, dtype: float64

In [77]:
estadomayor= data.groupby("state")["sellingprice"].sum().sort_values(ascending=False)
estadomayor

state
fl                   1.151065e+09
ca                   1.061078e+09
pa                   8.612346e+08
tx                   6.064954e+08
ga                   4.489274e+08
                         ...
3vwd17aj2fm258506    1.330000e+04
3vwd17aj4fm201708    1.320000e+04
3vwd17aj3fm276741    1.320000e+04
3vwd17aj5fm225953    1.320000e+04
3vwd17aj8fm239622    1.320000e+04
Name: sellingprice, Length: 64, dtype: float64

In [78]:
productomayor= data.groupby("model")["model"].count().sort_values(ascending=False)
productomayor

model
Altima     19349
F-150      14479
Fusion     12946
Camry      12545
Escape     11861
           ...
Paseo          1
Q3             1
Ram Van        1
Regency        1
1              1
Name: model, Length: 973, dtype: int64

In [79]:
tipotransmision= data.groupby("transmission")["sellingprice"].sum().sort_values(ascending=False)
tipotransmision

transmission
automatic    6.443934e+09
manual       1.966936e+08
sedan        2.047500e+05
Sedan        1.505500e+05
Name: sellingprice, dtype: float64

In [99]:
final=data[(data["seller"] == "ford motor credit company llc") & (data["state"] == "fl") & (data["model"] == "Altima") & (data["transmission"] == "automatic")]
final

Empty DataFrame
Columns: [year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, saledate, profit, operatingmargin]
Index: []

Una estrategia comercial integral para maximizar la rentabilidad, seria priorizar la inversión en canales digitales, redes sociales y concesionarios en donde mayor volumen de ventas haya, enfocando asi promociones en modelos líderes en ventas. Optimizando el inventario de vehículos que generan mayores ingresos, y ajustar precios para maximizar márgenes con clientes de la linea premium.

Para definir en qué segmento enfocar la estrategia global basado en lo anterior se debe enfocar en clientes de alto valor en Florida  que prefieren vehículos automáticos y sedanes, y la presencia de clientes premium como "ford motor credit company llc". Al priorizar este segmento, se maximiza el retorno de la inversión y se fortalece la posición en el mercado.